<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>iframe display</title>
    <link rel="stylesheet" href="../gallery/filler.css" />
    <script type="text/javascript" src="./jquery.min.js"></script>
    <script type="text/javascript" src="./bootstrap.bundle.min.js"></script>
    <style>/* Component Style Inserted Here */</style>
    <% if (gallery_head_include_file) { %>
      <%- include(gallery_head_include_file) %>
    <% } %>
  </head>
  <body>
    <div>no component selected</div>
  </body>
</html>
